 <config>    
    <modules>
        <Magentotutorial_Complexworld>
            <version>0.1.0</version>
        </Magentotutorial_Complexworld>
    </modules>
	 <global>
    <models>
        <complexworld>
            <class>Magentotutorial_Complexworld_Model</class>
            <resourceModel>complexworld_resource</resourceModel>
        </complexworld>
		<complexworld_resource>
            <class>Magentotutorial_Complexworld_Model_Resource</class>
            <entities>
                <eavblogpost>
                    <table>eavblog_posts</table>
                </eavblogpost>
            </entities>
        </complexworld_resource>
    </models>
    <resources>
        <complexworld_setup>
            <setup>
                <module>Magentotutorial_Complexworld</module>
                <class>Magentotutorial_Complexworld_Model_Resource_Setup</class>
            </setup>
        </complexworld_setup>
    </resources>
</global> 
	<frontend>
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>  
    </frontend>
</config> 